<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>TestingPractice/tests/Unit</directory>
        </testsuite>
        
        <!-- <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite> -->
    </testsuites>
</phpunit>